.disabled {
  pointer-events: none;   /* tidak bisa diklik */
  opacity: 0.5;           /* efek disabled */
  cursor: not-allowed;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  @font-face {
    font-family: "apple";
    src: url("Apple.otf") format("truetype");
  }
}
@font-face {
  font-family: "fantasy1";
  src: url("Fantasy Script.otf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section {
  min-height: 80 vh; /* tiap section setidaknya setinggi layar */
  width: 100%;
}

.black {
  background-color: #120a2a;
}

.white {
  background-color: #e6e6fa;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 20px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

/* Lang Button */
.lang-btn {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  flex-shrink: 0;
}

.lang-btn.active {
  background: #ff00f2 !important;
  color: #ffffff !important;
  box-shadow: 0 0 10px rgba(255, 0, 242, 0.6);
  transform: scale(1.1);
}

.lang-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.lang-btn.active:hover {
  background: #ff00f2;
}

.flag {
  font-size: 16px;
}

/* Menu Box */
.menu-box {
  background: #ffffff;
  padding: 12px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  min-height: 50px;
  width: auto;
  flex-shrink: 0;
}

.logo1 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 img {
  height: 50px;
  width: auto;
  border-radius: 10px;
}

.menu-box span {
  color: #ff00f2;
  font-weight: bold;
  font-size: 22px;
  font-family: "Cinzel", serif;
  white-space: nowrap;
  text-align: center;
}

.menu-box a {
  color: #ff00f2;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
  white-space: nowrap;
  text-align: center; 
  font-weight: 1000;
}
.menu-box a:hover {
  opacity: 0.8;
}

.content {
  background: white;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.hero {
  position: relative;
  height: 100vh;
  background: url("LM109532.JPG") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-logo {
  width: 400px;
  margin-bottom: 40px;
}

.hero-title {
  margin-top: -90px;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* === ABOUT === */
.about {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
  padding: 0 20px;
}

.about h2 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 20px;
}

.champion-prize {
  text-align: center;
  padding: 80px 10%;
  background: linear-gradient(to top, #402c5c, #886eaf);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.champion-prize h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.prize-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.prize-card {
  background: #ffffff;
  border: 3px solid #51307e;
  border-radius: 20px;
  width: 250px;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prize-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.prize-card h3 {
  font-family: "Cinzel Decorative", serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  color: #000000;
}

.prize-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
}

.prize-card li {
  font-size: 1rem;
  margin: 5px 0;
  color: #000000;
}

/* ===== BASE ===== */
.info-section {
  padding: 80px 40px;
  color: #000000;
  font-family: "Playfair Display", serif;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
  margin-top: 100px;
}

/* ===== INFORMATION GRID ===== */
.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* default */
  gap: 30px;
  margin: 60px auto 70px auto;
  max-width: 1200px;
  padding: 0 20px; /* memberi ruang kiri-kanan di layar kecil */
  justify-content: center;
}

.info-box {
  background: white;
  padding: 40px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.info-box:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.info-icon {
  font-size: 48px;
  margin-bottom: 16px;
}

.info-box h3 {
  font-family: "Cinzel", serif;
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.info-box p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.info-btn {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.info-btn:hover {
  background: #22a36e;
}

.info-btn-register {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 70px 90px;
  border-radius: 8px;
  font-weight: 800;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 50px;
  font-size: 25px;
}

.info-btn-register:hover {
  background: #22a36e;
}

.info-btn-jj {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 30px;
}

.info-btn-jj:hover {
  background: #22a36e;
}

.info-btn-tw {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 30px;
}

.info-btn-tw:hover {
  background: #22a36e;
}

.info-box-contact {
  background: white;
  padding: 40px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.info-box-contact:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.info-icon-contact {
  font-size: 48px;
  margin-bottom: 16px;
}

.info-box-contact h3 {
  font-family: "Cinzel", serif;
  font-size: 22px;
  color: #000000;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.info-box-contact p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.info-btn-contact {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.info-btn-contact:hover {
  background: #22a36e;
}
/* ===== FACILITIES SECTION ===== */
.facility-section {
  margin-top: 40px;
}

.facility-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.facility-box {
  background: whitesmoke;
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.facility-box:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.facility-box h3 {
  font-family: "Cinzel", serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.facility-box ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.facility-box ul li {
  margin: 8px 0;
  font-size: 16px;
  color: #000000;
}

.facility-box .date {
  font-size: 20px;
  color: #886eaf;
  margin-bottom: 10px;
}

.facility-box .note {
  font-size: 16px;
  margin-bottom: 20px;
  color: #000000;
}

/* === LOCATION === */
.location {
  position: relative;
  background: url("LM100093.JPG") center/cover no-repeat;
  color: white;
  padding: 120px 20px;
  text-align: center;
}

.location .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.location-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: auto;
}

.btn-location {
  display: inline-block;
  margin-top: 100px;
  padding: 12px 30px;
  background: #886eaf;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-location:hover {
  background: #22a36e;
}

.footer {
  background: #fff;
  padding: 60px 20px 30px;
  border-top: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* BRAND */
.footer-brand {
  max-width: 350px;
  text-align: center;
  transform: translateX(-30px);
}

.footer-logo {
  width: 90px;
  margin-bottom: 10px;
}

.footer-text {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

/* KONTAK */
.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #111;
  margin: 8px 0;
  font-size: 16px;
}

.icon-img {
  width: 24px;
  height: 24px;
}
.icon-imgemail {
  width: 24px;
  height: 24px;
}

/* SOSIAL ICONS */
.social-icons {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.social-btn {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-img {
  width: 40px;
  height: 40px;
}

.social-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btn:active {
  transform: scale(0.88);
  box-shadow: none;
}

.social-btnyt {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-imgyt {
  width: 50px;
  height: 50px;
}

.social-btnyt:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btnyt:active {
  transform: scale(0.88);
  box-shadow: none;
}

.social-btnmbi {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-imgmbi {
  width: 60px;
  height: 30px;
}

.social-btnmbi:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btnmbi:active {
  transform: scale(0.88);
  box-shadow: none;
}


@media (max-width: 300px){
.menu-box {
  background: #ffffff;
  padding: 12px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  min-height: 50px;
  width: 290px;
  flex-shrink: 0;
}

.logo1 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 img {
  height: 30px;
  width: auto;
  border-radius: 10px;
}

.menu-box span {
  color: #ff00f2;
  font-weight: bold;
  font-size: 22px;
  font-family: "Cinzel", serif;
  white-space: nowrap;
  text-align: center;
  display: none;
}

.menu-box a {
  color: #ff00f2;
  font-size: 10px;
  transition: 0.3s;
  text-decoration: none;
  white-space: nowrap;
  text-align: center; 
  font-weight: 1000;
}
.hero-title-ilc {
  margin-top: -90px;
  font-size: 2.5rem;
  text-transform: uppercase;
  filter: brightness(100%);
}
.hero-subtitle-ilc {
  font-size: 1rem;
  opacity: 0.9;
}
.guest-card-alexa {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  transition: 0.6s ease;
  transform: translateX(150px);
}

.guest-card-alexa img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  filter: grayscale(20%) contrast(110%);
  transition: 0.6s ease;
}
















  .hero-title {
  margin-top: -90px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.hero-subtitle {
  font-size: 0.75rem;
  opacity: 0.9;
}
.facility-section {
  margin-top: 40px;
  margin-left: -40px;
}
.facility-box ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: inline-block;
}

.facility-box ul li {
  margin: 8px 0;
  font-size: 15px;
  color: #000000;
  text-align: left;
}
.info-btn-register {
  display: inline-block;
  background: #886eaf;
  color: #ffffff;
  padding: 50px 70px;
  border-radius: 8px;
  font-weight: 800;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 50px;
  font-size: 25px;
}
 .footer {
  background: #fff;
  padding: 60px 20px 30px;
  border-top: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* BRAND */
.footer-brand {
  max-width: 350px;
  text-align: center;
  transform: translateX(0px);
}

.footer-logo {
  width: 90px;
  margin-bottom: 10px;
}

.footer-text {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

/* KONTAK */
.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  transform: translateX(90px);
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #111;
  margin: 8px 0;
  font-size: 16px;
  transform: translateX(10px);
}

.icon-img {
  width: 24px;
  height: 24px;
}
.icon-imgemail {
  width: 30px;
  height: 20px;
}

/* SOSIAL ICONS */
.social-icons {
  display: flex;
  gap: 14px;
  margin-top: 10px;
  transform: translateX(50px);
}

.social-btn {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-img {
  width: 40px;
  height: 40px;
}

.social-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btn:active {
  transform: scale(0.88);
  box-shadow: none;
}

.social-btnyt {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-imgyt {
  width: 50px;
  height: 50px;
}

.social-btnyt:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btnyt:active {
  transform: scale(0.88);
  box-shadow: none;
}

.social-btnmbi {
  width: 48px;
  height: 48px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.social-imgmbi {
  width: 60px;
  height: 30px;
}

.social-btnmbi:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.social-btnmbi:active {
  transform: scale(0.88);
  box-shadow: none;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 14px;
  color: #555;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
}