* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  @font-face {
    font-family: "apple";
    src: url("Apple.otf") format("truetype");
  }
}
@font-face {
  font-family: "fantasy1";
  src: url("Fantasy Script.otf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* ===== Navbar ===== */
/* ===== Navbar ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo kiri */
.logo {
  position: absolute;
  left: 20px; /* sejajarkan sesuai padding navbar */
  flex: 1;
}

.logo img {
  align-items: center;
  height: 80px;
  width: auto;
  border-radius: 10px;
}

/* Menu box tengah */
.menu-box {
  background: #91ba8f;
  padding: 15px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* biar tidak ketumpuk logo */
}

.menu-box span {
  margin-left: 50px;
  color: #f5eac9;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins";
}

.menu-box a {
  font-family: "Poppins";
  color: #f5eac9;
  font-size: 14px;
  transition: 0.3s;
}
.hero-img {
  width: 100%;
  height: 100vh; /* full tinggi layar */
  object-fit: cover; /* biar gak gepeng */
  object-fit: cover;
  filter: brightness(50%);
}
.hero-text {
  position: absolute;
  top: 30%;
  left: 14%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left; /* atau left jika ingin rata kiri */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero-text h1 {
  font-size: 60px;
  margin: 0;
}
.hero-text h3 {
  font-size: 24px;
  margin: 0; /* hapus margin besar yang bikin tidak sejajar */
}
.logo1 {
  position: absolute;
  top: 200px;
  left: 70%;
}
.logo1 img {
  height: 500px;
  width: auto;
}
.wrapper {
  margin: 100px auto 0;
  background: #8d1f1e;
  padding: 20px;
  border-radius: 10px;

  max-width: 1500px; /* batas maksimal lebar */
  min-height: 100px;
  width: 100%; /* biar responsif */
}
.wrapper h1 {
  left: 10%;
  margin-bottom: 20px;
  color: #f5eac9;
}
